<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SolutionTemplate.MVC</title>

    <partial name="Partial/_Styles" />

    @await RenderSectionAsync("Styles", false)

</head>
<body>
    <partial name="Partial/_Header" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="Partial/_Footer" />

    <partial name="Partial/_Scripts" />

    @await RenderSectionAsync("Scripts", false)
</body>
</html>
